<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs.PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.user.set_capslock</string>
        <key>ProgramArguments</key>
        <array>
            <string>/Users/ZEAITER.ZEAITER/scripts/set_capslock.sh</string>
        </array>
        <key>RunAtLoad</key>
        <true/>
    </dict>
</plist>
